notebooks/testing.ipynb
book_rec_env
utils/__pycache__
scripts/test_app.py
Charts/
data/processed/
frontend/package-lock.json
backend/package-lock.json
node_modules
backend/app/__pycache__
backend/app/routes/__pycache__

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

